# Node
node_modules/
.env

# Build
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Render
render-build/

# IDE
.vscode/
*.swp
*.swo

# Misc
.DS_Store
*.log

# Optional: ignore coverage
coverage/
